<style>

  img   {
    border: 5px solid grey;
  }

  body  {
    background-image: url("images/plaid-background.jpeg");
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
/* Navigation*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  border: 10px double white;
  border-radius: 12px;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #555;
  color: white;
}

  h1   {
    color: black;
    text-align: center;
    font-family: Rolling Bold;
    text-shadow: 2px 2px 10px grey;
    background-color: white;
    font-size: 64px;
    max-width: 940px;
    padding-bottom:10px;
    margin: 15px auto 15px auto;
    border:5px; border-style: solid;
    border-radius: 10px;
  }

  p    {
    color: white;
    background-color: grey;
    font-size: 16px;
    text-align: justify;
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom:25px;
    padding-left: 15px;
    max-width: 940px;
    min-width: 720px;
    margin: 10px auto 10px auto;
    border: 10px double white;
    border-radius: 12px;
}

  h2   {
    color: black;
    background-color: grey;
    font-family: Rolling Bold;
    font-size: 30px;
    letter-spacing: 0.15em;
    max-width: 750px;
    min-width: 500px;
    margin: 17px auto 17px auto;
    padding-top: 5px;
    padding-bottom:5px;
    border: 10px double white;
    border-radius: 12px;
  }

  h3   {
    color: black;
    background-color: white;
    text-align: center;
    font-family: Rolling Bold;
    font-size: 30px;
    letter-spacing: 0.1em;
    max-width: 250px;
    min-width: 100px;
    margin: 17px auto 17px auto;
    padding-top: 10px;
    padding-bottom:10px;
    border: 3px; border-style:solid; border-color: black;
    border-radius: 10px;
  }
  h4   {
    color: black;
    background-color: white;
    text-align: center;
    font-family: Rolling Bold;
    font-size: 24px;
    letter-spacing: 0.1em;
    max-width: 250px;
    min-width: 100px;
    margin: 17px auto 17px auto;
    padding-top: 5px;
    padding-bottom:5px;
    border: 3px; border-style:solid; border-color: black;
    border-radius: 10px;
    position: absolute;
    right: 130px;
    bottom: 180px;
  }
/*fun facts*/

  #one{
    position: relative;
    left: 650px;
    bottom: 780px;
    max-width: 200px;
    min-width: 50px;
    font-size: 12px;
}

  #image2{
  float:left;
}


#gallery {
  position:relative;
  right: 500x;
  left: 200px;
  bottom: 400px;
  height:281px;
  width:450px;

}

#gallery img {
  position:absolute;
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
}

#gallery img.top:hover {
  opacity:0;
}

#contact {
display: inline
font-size: 24px;
}

</style>
